@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  box-sizing: border-box;
}
body {
  /* color: rgb(var(--foreground-rgb)); */
}

.text-fill-title {
  -webkit-text-stroke: 0.5px #8a8a8a45;
  /* -webkit-text-stroke-width: 0.5px; */
  -webkit-text-fill-color: #fff;
}

.yellow-gradient-box {
  background: linear-gradient(180deg, #ffcc68 0%, #ffd98f 100%);
  box-shadow: 0px 12px 10px 0px rgba(255, 204, 104, 0.1);
}
